.sun {
    width: 40%;
    margin-top: 40px;
    margin-left: 200px;
    z-index: 200;
    animation: orbitSun 15s infinite linear;
}

.mercury {
    width: 4%;
    margin-left: -290px;
    margin-bottom: 230px;
    box-shadow:  80px 0 15px 10px black;
    border-radius: 100px;
    animation: orbitMercury 5s infinite linear;
}

.venus {
    width: 6%;
    margin-bottom: 215px;
    margin-left: -30px;
    box-shadow:  100px 0 15px 10px black;
    border-radius: 100px;
    animation: orbitVenus 6s infinite linear;
}

.earth {
    width: 8%;
    margin-bottom: 200px;
    margin-left: -30px;
    box-shadow:  130px 0 15px 10px black;
    border-radius: 100px;
    animation: orbitEarth 7s linear infinite;
}

.mars {
    width: 7%;
    margin-bottom: 203px;
    margin-left: -20px;
    box-shadow:  110px 0 10px 10px black;
    border-radius: 100px;
    animation: orbitMars 8s linear infinite;
}

.jupiter {
    width: 11%;
    margin-bottom: 140px;
    margin-left: -80px;
    box-shadow:  170px 0 10px 10px black;
    border-radius: 100px;
    animation: orbitJupiter 9s linear infinite;
}

.sun:hover {
    animation: sunOp 3s ease-in-out infinite alternate;
}

@keyframes sunOp {
    from {
        opacity: 100;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes orbitSun {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes orbitJupiter {
    from {
        transform: rotate(0deg) translateX(570px);
    }

    to {
        transform: rotate(360deg) translateX(570px);
    }
}

@keyframes orbitMars {
    from {
        transform: rotate(0deg) translateX(480px);
    }

    to {
        transform: rotate(360deg) translateX(480px);
    }
}

@keyframes orbitEarth {
    from {
        transform: rotate(0deg) translateX(420px);
    }

    to {
        transform: rotate(360deg) translateX(420px);
    }
}

@keyframes orbitVenus {
    from {
        transform: rotate(0deg) translateX(350px);
    }

    to {
        transform: rotate(360deg) translateX(350px);
    }
}

@keyframes orbitMercury {
    from {
        transform: rotate(0deg) translateX(290px);
    }

    to {
        transform: rotate(360deg) translateX(290px);
    }
}

body {
    background-color: #eeeeee;
    overflow: hidden;
}